{# Looking fot these files in given path #}
{% use '_metas-and-scripts.html.twig' %}
{% use '_header-and-share.html.twig' %}
{% use '_html-elements.html.twig' %}

<!DOCTYPE HTML>

<html lang="fr" style="background:#202124;"> 
	<head>
		{{ block('consent') }}

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
		<!-- <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet"> -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
		<link rel="stylesheet" href="css/main.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
		{# <?php include 'hb_card_tp.php'; ?> #}
		{{ block('head_brand') }}
	</head>
 
	<body>
		{{ block('gtm') }} 
		{{ block('header') }}      
		<!-- IMAGES ONLY HERE -->
		<div class="swiper scene fixed w-full bg-center bg-cover"> 
			<div class="swiper-wrapper">
				<!-- Slides -->
				<div id="swiper-slide-00" class="swiper-slide bg-cover relative">
					{# <div class=" gradient absolute w-full h-full md:h-1/2 bottom-0"></div> #}
					<div class="scene-container scene-intro absolute h-full  relative left-1/2">
						 
				
					</div>				
				</div>
				
				<div id="swiper-slide-01" class="swiper-slide bg-center bg-cover relative">
					{# <div class=" gradient absolute w-full h-full md:h-1/2 bottom-0"></div> #}
					<div class="scene-container scene-center">
						{{ block('scene01') }}
					</div>
				</div>

				<div id="swiper-slide-02" class="swiper-slide bg-cover relative">
					{# <div class="gradient absolute w-full h-2/3 md:h-1/2 bottom-0"></div> #}
					{{ block('andreoli1') }}
				</div>

				<div id="swiper-slide-03" class="swiper-slide bg-cover relative">
					{# <div class=" gradient absolute w-full h-full md:h-1/2 bottom-0"></div> #}
					<div class="scene-container scene-center">
						{{ block('scene02') }}
					</div>
				</div>

				<div id="swiper-slide-04" class="swiper-slide bg-cover relative">
					{# <div class="gradient absolute w-full h-2/3 md:h-1/2 bottom-0"></div> #}
					{{ block('parein1') }}
				</div>

				<div id="swiper-slide-05" class="swiper-slide bg-cover relative">
					{# <div class="gradient absolute w-full h-2/3 md:h-1/2 bottom-0"></div> #}
					<div class="scene-container scene-right relative">
						{{ block('chart') }}
					</div>
				</div>


				<div id="swiper-slide-06" class="swiper-slide bg-cover relative">
					{# <div class="gradient absolute w-full h-2/3 md:h-1/2 bottom-0"></div> #}
					<div class="scene-container scene-center">
						{{ block('scene04') }}
					</div>
				</div>

				<div id="swiper-slide-07" class="swiper-slide bg-cover relative">
					{# <div class="gradient absolute w-full h-2/3 md:h-1/2 bottom-0"></div> #}
					{{ block('andreoli2') }}
				</div>

				<div id="swiper-slide-08" class="swiper-slide bg-cover relative">
					{# <div class="gradient absolute w-full h-2/3 md:h-1/2 bottom-0"></div> #}
					{{ block('tatone1') }}
				</div>

				<div id="swiper-slide-09" class="swiper-slide bg-cover relative">
					{# <div class="gradient absolute w-full h-2/3 md:h-1/2 bottom-0"></div> #}
					{{ block('andreoli3') }}
				</div>

				<div id="swiper-slide-10" class="swiper-slide bg-cover relative">
					{# <div class="gradient absolute w-full h-2/3 md:h-1/2 bottom-0"></div> #}
					
					<div class="scene-container scene-right">
						{{ block('chart2') }}
					</div>
				</div>


				<div id="swiper-slide-20" class="swiper-slide bg-cover relative">
					{# <div class="gradient absolute w-full h-2/3 md:h-1/2 bottom-0"></div> #}
					
					<div class="scene-container scene-right">
						{{ block('scene07') }}
					</div>
				</div>

				<div id="swiper-slide-11" class="swiper-slide bg-cover relative">
					{# <div class="gradient absolute w-full h-2/3 md:h-1/2 bottom-0"></div> #}
					{{ block('tatone2') }}
				</div>


				<div id="swiper-slide-12" class="swiper-slide bg-cover relative">
					{# <div class="gradient absolute w-full h-2/3 md:h-1/2 bottom-0"></div> #}
					{{ block('scene08') }}
				</div>


				<div id="swiper-slide-13" class="swiper-slide bg-center bg-cover relative">
					{# <div class="gradient absolute w-full h-1/2 bottom-0"></div> #}
					<div class="scene-container scene-left  relative">
						{# {{ block('end1') }} #}
					</div>
					<div class="scene-container scene-right">
						{# {{ block('end2') }} #}
					</div>
					
				</div>

				

				<div id="swiper-slide-14" class="swiper-slide bg-cover relative">
					{# <div class="gradient absolute w-full h-2/3 md:h-1/2 bottom-0"></div> #}

					<div class="scene-container scene-center ">
						{{ block('scene06') }}
					</div>
					
					
					
				</div>

				<div id="swiper-slide-15" class="swiper-slide bg-cover relative">
					{# <div class="gradient absolute w-full h-2/3 md:h-1/2 bottom-0"></div> #}

					<div class="scene-container scene-right ">
						{{ block('schema') }}
					</div>
					
					
					
				</div>

				<div id="swiper-slide-16" class="swiper-slide bg-cover relative">
					{# <div class="gradient absolute w-full h-2/3 md:h-1/2 bottom-0"></div> #}

					<div class="scene-container scene-right ">
						{{ block('analyse') }}
					</div>
					
					
					
				</div>

				<div id="swiper-slide-17" class="swiper-slide bg-cover relative">
					{# <div class="gradient absolute w-full h-2/3 md:h-1/2 bottom-0"></div> #}
					
					<div class="scene-container scene-right">
						{{ block('chart3') }}
					</div>
				</div>

				<div id="swiper-slide-18" class="swiper-slide bg-cover relative">
					
					<div class="scene-container scene-left">
						{{ block('assiette') }}
					</div>
				</div>

				<div id="swiper-slide-19" class="swiper-slide bg-cover relative">
					
					<div class="scene-container scene-left">
						{{ block('podium') }}
					</div>
				</div>
				

				<div id="swiper-slide-outro" class="swiper-slide bg-cover relative">
					{# <div class="gradient absolute w-full h-2/3 md:h-1/2 bottom-0"></div> #}
				</div>
			</div>
		</div>
		
		<div class="story container max-w-screen-2xl px-4 relative z-10">

			
			

			<section id="trigger0" class="section0 trigger intro  bg-transparent relative pt-12 md:pt-32 -mx-4 md:mx-auto">
				
				<div class="hero md:flex flex-row-reverse">
			
					<div class="herochild w-full aspect-video md:aspect-auto md:w-1/2 ">
						<figure class="w-full h-full xl:h-auto xl:aspect-square float-right bg-center bg-cover contrast-125" style="background-image:url('img/open.png');">
						</figure>
					</div>

					<div class="herogradient relative w-full md:w-1/2 px-4 md:px-12 pt-4 md:pt-12 pb-4 md:pb-8 md:pb-12">
						<div class="">
							<h1 class="text-gradient text-white font-sans antialiased text-3xl md:text-4xl lg:text-5xl font-semibold mb-4 md:mb-10 ">Une poubelle high-tech et anti-gaspi à l'EPFL
							</h1>
							<div class="container authors flex py-4 border-y">
								<div class="author w-40 text-blanc-soft antialiased">
									<a target="_blank" href="https://www.blick.ch/fr/auteurs/fabien-goubet-id17383651.html" class="flex items-center">
										<div class="align-text-bottom text-sm">
											<span class="inline-block font-extrabold underline">Fabien Goubet</span><br>
											<span class="inline-block">Texte</span>
										</div>
									</a>
								</div>
								<div class="author w-48 text-blanc-soft antialiased"">
										<div class="align-text-bottom text-sm">
											<span class="inline-block font-extrabold">César Greppin</span><br>
											<span class="inline-block">Format web</span> 
										</div>
								</div>  
								
							</div>  
							<h2 class="text-normal md:text-xl font-sans-2 lg:text-lg 2xl:text-2xl mt-6 md:mt-10 text-blanc-soft">Personne ne veut regarder le gaspillage alimentaire en face. L’EPFL fait le contraire: elle a installé des caméras sur les poubelles de ses restaurants. Une intelligence artificielle scanne tout ce qui est jeté afin d’aider l’école à prendre des mesures efficaces. L’objectif: diviser par 7 la quantité de nourriture jetée d’ici à 2030.

							</h2>
							<div class="container authors flex py-4 max-w-2xl <!--border-y--> border-slate-400 mt-2 md:mt-6">
		
								<div class="flex items-center mr-2">
										<div class="align-text-bottom text-xs">
											<span class="inline-block antialiased text-blanc-soft font-extrabold uppercase">Partager</span>
										</div>
								</div>
								<div class="mx-1 bg-color-1 p-1 rounded-full">
									<a target="_blank" href="https://www.facebook.com/sharer.php?u=https://www.prod.storytelling.blick.ch/fr/drug-checking-comment-les-fetards-font-tester-leur-drogue-a-geneve/&amp;display=popup&amp;ref=plugin&amp;src=share_button" class="flex items-center">
										<img src="img/icon-facebook.svg" alt="Icône de partage facebook" class="rounded-full">
									</a>
								</div>
								<div class="mx-1 bg-color-1 p-1 rounded-full">
									<a target="_blank" href="https://twitter.com/intent/tweet?text=Pour la première fois, un consommateur, un drug-checking et le labo toxicologique des Hôpitaux universitaires de Genève ont laissé un journaliste suivre des échantillons de MDMA et de coke à la trace. https://www.prod.storytelling.blick.ch/fr/drug-checking-comment-les-fetards-font-tester-leur-drogue-a-geneve/%20&amp;via=blick_fr" class="flex items-center">
										<img src="img/icon-x.svg" alt="Icône de partage facebook" class="rounded-full">
									</a>
								</div>
								<div class="mx-1 bg-color-1 p-1 rounded-full">
									<a target="_blank" href="whatsapp://send?text=Voici comment les fêtards genevois font tester leur drogue%0A%0Ahttps://www.prod.storytelling.blick.ch/fr/drug-checking-comment-les-fetards-font-tester-leur-drogue-a-geneve/" class="flex items-center">
										<img src="img/icon-wa.svg" alt="Icône de partage facebook" class="rounded-full">
									</a>
								</div>
								<div class="mx-1 bg-color-1 p-1 rounded-full">
									<a target="_blank" href="mailto:?subject=Format spécial Blick.ch :&nbsp;Voici comment les fêtards genevois font tester leur drogue&amp;body=Voici comment les fêtards genevois font tester leur drogue%0A%0APour la première fois, un consommateur, un drug-checking et le labo toxicologique des Hôpitaux universitaires de Genève ont laissé un journaliste suivre des échantillons de MDMA et de coke à la trace.%0A%0Ahttps://www.prod.storytelling.blick.ch/fr/drug-checking-comment-les-fetards-font-tester-leur-drogue-a-geneve/" class="flex items-center">
										<img src="img/icon-plane.svg" alt="Icône de partage facebook" class="rounded-full">
									</a>
								</div>
								<div class="mx-1 bg-color-1 p-1 rounded-full">
									<span class="copy flex items-center cursor-pointer">
										<img src="img/icon-link.svg" alt="Icône de partage facebook" class="rounded-full">
									</span>
								</div>
								<!-- <div class="author w-52">
									<a href="" class="flex items-center">
									<img src="img/fabien-goubet.png" alt="Portrait de Fabien Goubet" class="rounded-full w-12 mr-2.5">
									<div class="align-text-bottom text-xs">
										Par <span class="inline-block font-extrabold underline">Fabien Goubet</span>
										<span class="inline-block">Journaliste Blick</span></div>
									</a>
								</div> -->
							</div>
							<div class="absolute bg-color bottom-0 right-1/2 md:right-0 translate-x-1/2 translate-y-20 md:translate-y-28">
								{{ block('scroller') }}
							</div>
							
						</div>
					</div>
				</div>

				<div class="spacer"></div>
				
			</section>    
			
			<!-- <section class="chapeau container max-w-2xl">
				<div class="spacer-sm"></div>
				<h2 class="text-white text-center text-xl md:text-2xl">
					Certaines personnes sont très excitées sexuellement par l’idée de manger quelqu’un ou de se faire engloutir. Sur internet, un forum donne vie à ces fantasmes. Je m’y suis inscrit avec la volonté de faire une rencontre.
				</h2> 
				<div class="spacer"></div>
			</section> -->
			
			<section  class="container max-w-2xl overflow-auto relative">
				<div class="textbox w-full p-0 md:p-4">

					<div id="trigger-scene-1">

						<p class="antialiased text-l md:text-xl">
							Avec une population de près de 18’000 personnes, le campus de l’École polytechnique fédérale de Lausanne (EPFL) est une ville dans la ville.<br><br>Bâtiments, transports, recherche sont autant de secteurs émetteurs de dioxyde de carbone, l’un des principaux contributeurs du réchauffement climatique.
						</p>
						<div class="spacer"></div>

					</div>
					
					{# <div id="trigger-scene-1b"></div>
					<div id="trigger-scene-1c"></div> #}
				
				</div>
			</section>   
			
			<section  class="container max-w-2xl overflow-auto relative">
				<div class="textbox w-full p-0 md:p-4">

					<div id="trigger-scene-2">

						<p class="antialiased text-l md:text-xl">
							L’école s’est fixé pour objectif de réduire son empreinte carbone pour atteindre la neutralité, via compensations, d'ici à 2030. Elle veut notamment baisser sa consommation d’électricité, limiter les voyages en avion, ainsi que de nombreux autres buts détaillés dans la feuille de route de sa <a href="https://www.epfl.ch/about/sustainability/fr/strategie/" class="underline decoration-2 font-semibold color" target="_blank">Stratégie climat et durabilité 2030</a>. 
						</p>
						<div class="spacer"></div>

					</div>

					{# <div id="trigger-scene-2b"></div> #}
					
				</div>
			</section>   
			
			<section class="trigger container max-w-6xl overflow-auto relative">
				<div class="textbox w-full md:w-1/2 p-0 md:p-4">

					<div id="trigger-scene-3">

						<p class="antialiased text-l md:text-xl">
							Avec plus de 30 restaurants sur le campus, et sans compter les food trucks, pour 1,5 million de repas servis chaque année, l’alimentation représente la troisième source d’émissions de gaz à effet de serre de l’EPFL. 
						</p>
						<div class="spacer"></div>

						<p class="antialiased text-l md:text-xl">
							La consommation de viande en est la principale responsable, suivie par le gaspillage. Il pèserait 25% de l’empreinte carbone de l’alimentation.
						</p>
						<div class="spacer"></div>

						<p class="antialiased text-l md:text-xl">
							«Quand on sert plus d’un million de repas chaque année, on ne peut plus se permettre de gaspiller des aliments», assure Bruno Rossignol, responsable restauration et commerces de l’EPFL et chargé du projet EPFL 20-30, vaste programme visant à rendre plus durable l’alimentation de l’école. 
						</p>
						<div class="spacer"></div>

					</div>

					{# <div id="trigger-scene-3b"></div>
					<div id="trigger-scene-3c"></div>
					<div id="trigger-scene-3d"></div> #}
				
				</div>
			</section>    

			<section class="container max-w-2xl overflow-auto relative">
				<div class="textbox w-full p-0 md:p-4">

					<div id="trigger-scene-4">
					
					<p class="antialiased text-l md:text-xl">
						Puisqu’on ne peut contrôler que ce qu’on connaît, l’école mesure tout ce qui est gaspillé grâce à des poubelles fonctionnant grâce à l'intelligence artificielle développée par <a href="https://www.kitro.ch/" target="_blank" class="underline color decoration-2 font-semibold">Kitro</a>, une entreprise suisse.
						</p>
						<div class="spacer"></div>

						
					
					</div>
					<div id="trigger-scene-4b"></div>
					<div id="trigger-scene-4c"></div>

				</div>
			</section>  

			<section class="container max-w-6xl overflow-auto relative">
				<div class="textbox w-full md:w-1/2 p-0 md:p-4">

					

					<div id="trigger-scene-5b">
					
						<h2 class="mb-4 md:mb-12 antialiased border-l-4 border-custom font-sans text-white text-2xl md:text-4xl lg:text-5xl leading-6 lg:leading-10 pl-3">Le grand gâchis<br>du gaspillage alimentaire</h2>
						<p class="antialiased text-l md:text-xl">
							Le gaspillage, personne ne veut le voir. Pas étonnant: les chiffres font mal aux yeux. «Aujourd’hui dans le monde, 47% de ce qui pousse dans les champs est jeté», assure Bruno Rossignol.
						</p>
						<div class="spacer"></div>

					</div>

					<div id="trigger-scene-5">
					
						

						<p class="antialiased text-l md:text-xl">
							En Suisse, près de 2,7 millions de tonnes de produits parfaitement comestibles sont gaspillées chaque année, soit 330 kilos par personne et par an. Les pertes arrivent à chaque étape, du champ à l’assiette.  
						</p>
						<div class="spacer"></div>

					</div>
					
				</div>
			</section> 

			<section class="container max-w-2xl overflow-visible relative">
				<div class="textbox w-full p-0 md:p-4">

					<div id="trigger-scene-6z">
					
					<p class="antialiased text-l md:text-xl">
						Outre le gâchis brut de denrées comestibles, cela entraîne des émissions de CO<sub>2</sub> inutiles. Le gaspillage représente 10% des émissions mondiales de gaz à effet de serre. C’est aussi un gâchis de ressources (eau, terres agricoles…), de biodiversité, de temps et d’argent.
						</p>
						<div class="spacer"></div>

						
					
					</div>
					<div id="trigger-scene-6"></div>
					<div id="trigger-scene-6b"></div>
					<div id="trigger-scene-6c"></div>
					<div id="trigger-scene-6d"></div>
					<div id="trigger-scene-6e"></div>
					<div id="trigger-scene-6f"></div>

				</div>
			</section>

			<section class="container max-w-6xl overflow-auto relative">
				<div class="textbox w-full md:w-1/2 p-0 md:p-4">

					{# <div id="trigger-scene-7">

						<p class="antialiased text-l md:text-xl">
							Comment y parvenir? Pour comprendre comment réduire ses déchets dans les assiettes, il a bien fallu commencer par quantifier le problème, explique Bruno Rossignol, le responsable de la stratégie 20-30.
						</p>
						<div class="spacer"></div>
						
						
					
					</div> #}
					<div id="trigger-scene-7b"></div>
					<div id="trigger-scene-7c"></div>
					
				</div>
			</section> 

			<section class="container max-w-2xl overflow-auto relative">
				<div class="textbox w-full p-0 md:p-4">

					{# <div id="trigger-scene-8">
					
						<p class="antialiased text-l md:text-xl">
							Pour ce faire, l’école s’est rapprochée de <a href="https://www.kitro.ch/" target="_blank" class="underline color decoration-2 font-semibold">Kitro</a>. Cette start-up zurichoise s’est spécialisée dans la surveillance et la quantification du gaspillage alimentaire auprès de grands groupes de restauration, d’hôtels et d’autres entités.<br><br>Le principe est d’étudier toute la chaîne, de l’approvisionnement jusqu’à l’assiette débarrassée, éclaire XX, YY de l’entreprise.  
						</p>
						<div class="spacer"></div>
						

					</div> #}
					<div id="trigger-scene-8b"></div>
					<div id="trigger-scene-8c"></div>
					
				</div>
			</section>

			<section class="container max-w-6xl overflow-auto relative">
				<div class="textbox w-full md:w-1/2 p-0 md:p-4">

					<div id="trigger-scene-9">
					
						<h2 class="mb-4 md:mb-12 antialiased border-l-4 border-custom font-sans text-white text-2xl md:text-4xl lg:text-5xl leading-6 lg:leading-10 pl-3">Poubelle intelligente, mode d'emploi</h2>
						
						<p class="antialiased text-l md:text-xl">
							Le système <a href="https://www.kitro.ch/" target="_blank" class="underline color decoration-2 font-semibold">Kitro</a> se compose d’une balance sur laquelle est posée la poubelle, ainsi que d’un appareil photo situé au-dessus
						</p>
						<div class="spacer"></div>

					</div>

					<div id="trigger-scene-9b">

						<p class="antialiased text-l md:text-xl">
							Dès qu’un aliment est jeté, la balance met à jour le poids et déclenche la prise d’une photo par l’appareil.
						</p>
						<div class="spacer"></div>

						
						
					</div>

					<div id="trigger-scene-9c">

						<p class="antialiased text-l md:text-xl">
							Chaque image sera ensuite analysée par un algorithme de machine learning (une application de l’IA), permettant de déterminer le type d'aliment jeté.
						</p>
						<div class="spacer"></div>

					</div>

					<div id="trigger-scene-9d">

						<p class="antialiased text-l md:text-xl">
							Ces algorithmes ont été entraînés sur des centaines de milliers d'images et atteignent un taux de reconnaissance de 96%.

						</p>
						<div class="spacer"></div>

						<p class="antialiased text-l md:text-xl">
						«Grâce aux mesures effectuées, notre solution permet de mesurer, puis de réduire, le gaspillage alimentaire», résume Noélie Gabioud, food waste consultant de <a href="https://www.kitro.ch/" target="_blank" class="underline color decoration-2 font-semibold">Kitro</a> auprès de l’EPFL. 

						</p>
						<div class="spacer"></div>
					</div>
					
				</div>
			</section>

			<section class="container max-w-6xl overflow-auto relative">
				<div class="textbox w-full md:w-1/2 p-0 md:p-4">

					<div id="trigger-scene-10z">
					
						<p class="antialiased text-l md:text-xl md:translate-x-full">
							Avec cet outil, l’EPFL et <a href="https://www.kitro.ch/" target="_blank" class="underline color decoration-2 font-semibold">Kitro</a> savent exactement ce qui est jeté, en quelle quantité, à quel endroit et à quelle heure. Exemple, les trois aliments les plus gaspillés en 2023 sont le riz, les pâtes et le pain.
						</p>
						<div class="spacer"></div>
					
					</div>

					<div id="trigger-scene-10">

						<p class="antialiased text-l md:text-xl md:translate-x-full">
							Et ce n’est pas tout. En 2019, les mesures ont permis de déduire que chaque assiette débarrassée contenait en moyenne 50 grammes de nourriture gaspillée. <!--En comparaison, sur des paquebots de croisière, les buffets à volonté peuvent entraîner jusqu’à 500 grammes de gaspillage par assiette. -->
						</p>
						<div class="spacer"></div>
					
						

						<p class="antialiased text-l md:text-xl md:translate-x-full">
							L’école en a tiré plusieurs leçons. Elle a constaté que les restaurants achetaient beaucoup trop de nourriture, par peur de manquer. Les portions sont désormais pesées à 450 grammes (il est possible de se resservir), et les horaires des services sont resserrés. Les cuisiniers ont été sensibilisés.
						</p>
						<div class="spacer"></div>

						<p class="antialiased text-l md:text-xl md:translate-x-full">
							Mieux, elle peut croiser ces données avec les achats, et les menus servis, pour comprendre ce qui a mené les aliments à la poubelle. «Il est important d’étudier toute la chaîne, de l’approvisionnement jusqu’à l’assiette débarrassée, afin de savoir sur quels points agir», rappelle Noélie Gabioud. 
						</p>
						<div class="spacer"></div>
					</div>

					<div id="trigger-scene-10b">

						<p class="antialiased text-l md:text-xl md:translate-x-full">
							Et ça fonctionne. Aujourd’hui, grâce aux poubelles intelligentes, les restaurants ne jettent plus que 22 grammes par assiette. En comparaison, sur des paquebots de croisière, les buffets à volonté peuvent entraîner jusqu’à 500 grammes de gaspillage par assiette.
						</p>
						<div class="spacer"></div>

					</div>

					<div id="trigger-scene-10c">

						<p class="antialiased text-l md:text-xl md:translate-x-full">
							L’objectif, d’ici à 2030, est d’arriver à… 7 grammes! «C’est ambitieux, mais c’est le chiffre à atteindre pour respecter les Accords de Paris», rappelle Bruno Rossignol, pour qui «la valeur ajoutée de ce système, c’est cette reconnaissance automatique. Sans intelligence artificielle, on n’y serait jamais parvenus».<br><br>Ce dernier s’est en outre engagé à réduire l’empreinte carbone totale de l’alimentation de 40% d’ici à 2030. «Ce ne sera pas facile. Mais on va y arriver», conclut-il.

						</p>
						<div class="spacer"></div>
						

					</div>

					<div id="trigger-scene-10d" class="outro relative md:translate-x-full">

						
						{{ block('credits2') }}
					</div>
				
					
				</div>
			</section>

			{#<section class="container max-w-2xl overflow-visible relative">
				<div class="textbox max-w-sm md:max-w-md w-full p-0 md:p-4 mx-auto">

					
						

						<p class="italic antialiased text-center text-l md:text-xl p-0 bg-transparent text-white border-0">
							*Tous les pseudonymes et les noms des membres du forum DolcettGirls ont été changés.
						</p>

						<div id="trigger-outro">
							{{ block('outro') }} 

							<div class="spacer-sm"></div>
							<div class="spacer-sm"></div>
						</div>

					
				
				</div>
			</section>
			
			<section id="trigger-end" class="section10 trigger container py-8 max-w-6xl overflow-auto relative">
				<div class="textbox w-1/2 absolute top-1/2 left-1/2 -translate-x-2/4 -translate-y-2/4 text-center">
					{{ block('credits') }}  
				</div>
				<!-- <div  class="trigger absolute top-8 w-full h-1"></div> -->
			</section>  #}
			
			
			<script src="js/vendor/modernizr-3.11.2.min.js"></script> 
			<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
			<script src="js/ScrollMagic.min.js"></script>
			<script src="js/debug.addIndicators.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
			<!-- <script src="js/isInViewport.min.js"></script> -->
			<script src="js/main.js"></script>
			<!-- <script src="js/s01.js"></script> -->
			<script src="js/animations.js"></script>
			<script src="js/headroom.min.js"></script>
			<script src="https://cdn.tailwindcss.com"></script>

			
			<!-- <script>
				window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
				ga('create', 'G-BVVLW3LSNH', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
			</script>
			<script src="https://www.google-analytics.com/analytics.js" async></script> -->
			
		</div>  
		
	</body>
</html>
